<div *ngFor="let pessoa of pessoas">
  <table border="1">
    <tr>
      <th width=170>
        Nome
      </th>
      <th width=100>
        Ano de Nascimento
      </th>
      <th width=100>
        Raça
      </th>
      <th width=110>
        Sexo
      </th>
      <th width=200>
        Planeta Natal
      </th>      
    </tr>
    <tr>      
      <td>
        {{pessoa.name}}
      </td>
      <td>
        {{pessoa.birth_year}}
      </td>
      <td>
        {{pessoa.specie}}
      </td>
      <td>
        {{pessoa.gender}}
      </td>
      <td>
        {{pessoa.planeta}}
      </td>            
    </tr>
  </table>
</div>
<br>
<button (click)="ngOnPrevPage()" *ngIf="pages.previous">Anterior</button>
<button (click)="ngOnNextPage()" *ngIf="pages.next">Próximo</button>